.FilterMeals{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: #f2f2f2 solid 1px;
}

.InputOuter{
    position: relative;
    display: flex;
    align-items: center;
}

.SearchInput{
    width: 650rem;
    height: 70rem;
    border: none;
    border-radius: 28rem;
    background-color: #f2f2f2;
    padding-left: 60rem;
    outline: none;
    font-size: 36rem;
}

.SearchIcon{
    color: #aaa;
    position: absolute;
    font-size: 40rem;
    left: 10rem;
}