.Meal{
    /* 
        开启弹性盒
    */
    display: flex;
    align-items: center;
    border-bottom: 1px #f2f2f2 solid;
    padding: 30rem 20rem;
}

.DescBox{
    flex: auto;
}
.Imgbox{
    width: 280rem;

}

img{
    width: 100%;
}

.Title{
    font-weight: normal;
    font-size: 36rem;
    margin: 0;
}

.Desc {
    color: #bbb;
    font-size: 28rem;
}

.PriceWrap {
    margin-top: 40rem;
    display: flex;
    justify-content: space-between;
}

.Price{
    font-weight: bold;
    font-size: 40rem;
}

.Price::before {
    content: "$";
    font-size: 36rem;
}